#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;

  background-repeat: no-repeat;
  background-position: center;

  background-image: linear-gradient(
      rgba(255, 255, 255, 0.368),
      rgba(255, 255, 255, 0.36)
    ),
    url("https://media.istockphoto.com/id/1210270993/vector/blue-sea-background.jpg?b=1&s=612x612&w=0&k=20&c=5gr8m0KZz0WQT9bXeeHSzsd8aIMimkagWb3DJvA-2tg=") !important;
}

.ant-layout-header {
  height: 90px !important;
  padding: 0 0px !important;
  color: rgba(22, 19, 19, 0.85) !important;
  line-height: 64px;
  background: rgb(240, 242, 245) !important;
}

.head-center {
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}
.text-center {
  text-align: center;
  vertical-align: middle;
}
.content-font {
  background: #f0f2f5;
  font-size: 18px !important;
}

.shadow-box {
  box-shadow: 5px 8px 24px 5px rgba(208, 216, 243, 0.6);
  border-radius: 16px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;
  background-color: #fff;
  border: 1px solid #e6ebf1;
  border-radius: 0.625rem;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  line-height: 30px;
}

.ant-select-multiple .ant-select-selector::after {
  display: inline-block;
  width: 0;
  margin: 5px 0;
  line-height: 30px;
  content: "\a0";
}

.ant-select-single .ant-select-selector::after,
.ant-select-single .ant-select-selector .ant-select-selection-item::after,
.ant-select-single
  .ant-select-selector
  .ant-select-selection-placeholder::after {
  display: inline-block;
  width: 0;
  visibility: hidden;
  content: "\a0";
  line-height: 30px;
}

.ant-card-head {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 25px;
}

.ant-card {
  color: rgba(0, 0, 0, 0.85);
  font-size: 18px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
}

.gap-text {
  gap: 10px;
}

.ant-input {
  position: relative;
  background-color: #fff;
  border: 1px solid #e6ebf1;
  border-radius: 0.625rem;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, sans-serif;
}

.ant-space {
  display: flex !important;
}

.margin-tb {
  margin: 10px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
#hsbar {
  text-align: center;
  display: inline-block;
}

@media screen and (max-width: 580px) {
  .site-layout-background {
    padding: 0px !important;
  }
}
.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.slider {
  -webkit-appearance: none;
  width: 300px;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-top: 50px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #3f5c8c;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #3f5c8c;
  cursor: pointer;
}
